body {
  margin: 50;
  background-image: url('hongdae/assets/seoul/SEOUL.jpg');
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: 75% 75%;
  background-position: center;

}

#Namsan {
  background-color: transparent;
  border: none;
  border-radius: 100px;
  width: 119px;
  height: 165px;
  padding: 12px 16px;
  cursor: pointer; 
  position: absolute;
  left: 993px;
  top: 150px;
}

#Hongdae {
  background-color: transparent;
  border: none;
  border-radius: 100px;
  width: 265px;
  height: 238px;
  padding: 12px 16px;
  cursor: pointer; 
  position: absolute;
  left: 210px;
  top: 375px;
}

.BackButton {
  background-color: rgb(184, 184, 184);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer; 
  position: absolute;
  left: 10px;
  top: 10px;
}

.BackButton:hover {
  background-color: rgb(77, 77, 77);
}