body {
  margin: 50;
  background-image: url('chinatown/assets/nyc/NYC.jpg');
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: 75% 75%;
  background-position: center;

}

#Empire {
  background-color:transparent;
  border: none;
  border-radius: 400px;
  width: 220px;
  height: 575px;
  padding: 12px 16px;
  cursor: pointer; 
  position: absolute;
  left: 795px;
  top: 110px;
}

#Chinatown {
  background-color: transparent;
  border: none;
  border-radius: 95px;
  width: 195px;
  height: 124px;
  padding: 12px 16px;
  cursor: pointer; 
  position: absolute;
  left: 557px;
  top: 375px;
}

.BackButton {
  background-color: rgb(184, 184, 184);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer; 
  position: absolute;
  left: 10px;
  top: 10px;
}

.BackButton:hover {
  background-color: rgb(77, 77, 77);
}