body {
  margin: 50;
  background-image: url('assets/nyc/NYC.jpg');
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: 75% 75%;
  background-position: center;

}

#NY {
  background-color:transparent;
  border: none;
  border-radius: 400px;
  width: 80px;
  height: 80px;
  padding: 12px 16px;
  cursor: pointer; 
  position: absolute;
  left: 357px;
  top: 186px;
}

#Seoul {
  background-color: transparent;
  border: none;
  border-radius: 95px;
  width: 65px;
  height: 84px;
  padding: 12px 16px;
  cursor: pointer; 
  position: absolute;
  left: 1280px;
  top: 207px;
}

#Paris {
  background-color: transparent;
  border: none;
  border-radius: 95px;
  width: 60px;
  height: 96px;
  padding: 12px 16px;
  cursor: pointer; 
  position: absolute;
  left:  705px;
  top: 150px;
}